{% extends 'base.html' %}
{% block content %}

<h1>Login page</h1>
{% if error %}
{{error}}
{% endif %}
<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {%if request.GET.next%}
         <input type="hidden" value="{{ request.GET.next }}" name="next">
    {%endif%}

    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password">
    </div>
    <button>login</button>
</form>


{% endblock %}